:root {
    --primary-color: #120A8F;
    /* Ultramarine */
    --secondary-color: #BA160C;
    /* Engineering Orange */
    --accent1-color: #FFEFD5;
    /* Papaya whip */
    --accent2-color: #F5F5F5;
    /* White Smoke */
    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}

header {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    align-items: center;
    border-bottom: 2px double #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 150px;
    height: auto;
    margin: 0 20px 0 100px;
    grid-column: 1;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 2/4;
    justify-content: end;
    padding: 0;
    font-family: var(--heading-font);
    margin-right: 40px;
}

header nav a {
    display: block;
    width: 120px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

header nav a:hover {
    color: var(--secondary-color);
    font-weight: 1000;
    text-decoration: underline;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
    margin: 5px auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 5px;
    width: 100%;
    padding: 4px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #A91101;
    /* Turkey red */
}

.hero article {
    position: absolute;
    bottom: 285px;
    background-color: var(--accent1-color);
    height: 85px;
    padding: 1px;
    color: #1B1B1B;
    /* Eerie black */
}

.hero article p {
    padding-top: 0px;
}

.hero article img {
    float: right;
    width: 110px;
    border: 1px solid rgba(0 0 0 / 0.6);
    margin: 5px;
    box-shadow: 0 0 30px gray;
}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    width: 100%;
    margin: 16px auto;
    padding: 0;
    background-color: #F0F8FF;
    /* Alice Blue */
}

.history h2 {
    width: 100px;
    grid-column: 1/4;
    text-align: center;
    align-self: center;
    margin: 15px auto 0 auto;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.history img {
    display: block;
    width: 200px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 26px;
    height: 155px;
    box-shadow: 0 0 15px gray;
}

.history img:hover {
    transform: scale(1.5);
}

.history .p1 {
    grid-column: 1/2;
    grid-row: 2/3;
    color: #000;
}

.history .p2 {
    grid-column: 3/4;
    grid-row: 2/3;
    color: #000;
}

.adventure {
    width: 100%;
    padding: 0;
    margin: 16px auto;
    padding: 10px;
}

.adventure h2 {
    text-align: center;
    margin: 5px auto 20px auto;
    color: #fff;
    border-radius: 10px;
    background-color: var(--secondary-color);
    width: 300px;
    opacity: 0.8;
}

.adventure-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adventure-pics figure img {
    display: block;
    max-width: 150px;
    min-height: 100px;
    box-shadow: 0 0 17px gray;
}

.adventure-pics figure img:hover {
    zoom: 1.3;
}

.adventure-pics figcaption {
    text-align: center;
    color: var(--primary-color);
    margin: 10px;
}

footer {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 2fr 170px;
    align-items: center;
    border-top: 1px solid black;
    margin-top: 40px;
}

footer p {
    grid-column: 1;
    text-align: right;
    padding: 0;
}

.socialmedia {
    grid-column: 2;
    padding: 0;
}

.socialmedia a {
    text-decoration: none;
    margin: 4px;
}

h3 {
    color: #000;
    text-align: left;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;  
}  

.cont {
    height: 50px;
    margin-bottom: 5px;
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
    align-items: center;
}

.com-info {
    margin-top: 20px;
    width: 400px;
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center;
}

.com-info p, h3 {
    margin: 12px 0 12px 0;
    padding-top: 0;
    padding-left: 5px;
}

.map iframe {
    margin: 30px 0 0 20px;
    width: 350px;
    height: 240px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.employee {
    margin: 30px 0 10px 20px;
}

.in-touch h2 {
    margin: 40px 0 15px 20px;
    color: var(--secondary-color);
    height: 38px;
    padding: 5px;
}

.employee-pic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.employee-pic img {
    width: 220px;
    height: 200px;
    margin: 5px 0 5px 0;
    box-shadow: 0 0 17px gray;
}

.employee-pic img:hover {
    zoom: 1.2;
}

.employee-pic figcaption {
    text-align: center;
    color: #000;
}

form {
    width: 600px;
    margin: 0 0 0 20px;
    padding: 2rem;
    border: 1px solid rgba(0 0 0 / 0.1);
    border-radius: 1rem;
    background-color: #eee;
    display: grid;
    grid-gap: 10px;
    color: #000;
    opacity: 0.7;
}

label,
input,
button,
select,
textarea {
    font-family: var(--body-font);
}

.radio-item label {
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
}

.radio-item input {
    height: 14px;
}

label {
    margin-top: 5px;
    font-weight: bold;
}

input {
    height: 32px;
}

.check-item {
    margin-top: 10px;
}

.check-item input {
    height: 15px;
    margin-left: 20px;
}

button {
    margin: 20px auto 0;
    background-color: navy;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

button:hover {
    background-color: green;
}

.message article {
    margin: 5px 0 50px 190px;
    opacity: 0.9;
    background-color: var(--accent2-color);
    height: 40px;
    padding: 5px;
    opacity: 0.8;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.home-grid h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    color: #fff;
    margin: 0 0 0 20px;
    width: 180px;
    background-color: var(--secondary-color);
    opacity: 0.75;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 30px gray;
    padding: 5px;
}

.home-grid h3 {
    grid-column: 1/3;
    grid-row: 1/2;
    color: #fff;
    margin: 0 0 0 20px;
    border: 1px solid black;
    width: 140px;
    background-color: var(--primary-color);
    opacity: 0.75;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 30px gray;
    padding: 0 0 4px;
}

.purpose-pics {
    display: flex;
    flex-direction: row;
    grid-column: 1/3;
    grid-row: 2/3;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0;
}

.purpose-pics figure {
    margin: 0 18px 18px 10px;
    border: 0 solid black;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 0 0 30px gray;
    background-color: var(--accent2-color);
}

.purpose-pics figure img {
    display: block;
    width: 382px;
    height: 260px;   
}

.purpose-pics figure img:hover {
    zoom: 1.2;
}

.purpose-pics figcaption {
    text-align: center;
    color: var(--primary-color);
    margin: 10px;
    font-size: 19px;
    color: #000;
    padding-bottom: 5px;
}

.home-form {
    width: 400px;
    height: 380px;
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 16px;
}

.link-trip {
    color: #000;
    font-size: 16px;
    border: 1px solid black;
    margin: 38px 18px 18px 50px;
    border: 0 solid black;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 0 0 30px gray;
    width: 320px;
    grid-column: 2/3;
    grid-row: 4/5;
    height: 340px;
    padding: 5px;
}

.link-trip img {
    width: 250px;
    height: 210px;
    display: block;
    margin-left: 30px;
}

.link-trip figcaption {
    text-align: center;
    color: var(--secondary-color);
    padding: 5px;
    font-weight: bold;
}

.link-trip figcaption a:hover {
    color: #FFA500; /* Orange (Web) */
    font-weight: 1000;
    text-decoration: underline;
}

.raft-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F0F8FF; /* Alice Blue */
    padding: 10px 0 20px 0;
}

.raft-details p {
    width: 380px;
    margin-left: 30px;
    color: #000;
}

.raft-details img {
    width: 250px;
    height: 150px;
    margin: 15px 0 0 40px;
    box-shadow: 0 0 30px gray; 
}

.raft-details h3 {
    color: var(--primary-color);
    font-weight: bold;
    margin: 0 0 0 30px;     
}

.raft-head {
    width: 320px;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 20px;
    box-shadow: 0 0 30px gray;
    border-radius: 10px;
    padding: 12px;
    background-color: var(--secondary-color);
    opacity: 0.8;
}

.raft-head h2 {
    color: #fff;
}

.raft-intro {
    grid-column: 1/2;
    grid-row: 2/3;
}

.raft-intro p {
    color: #1E2952; /* Space cadet */
    font-weight: bold;
}

.family-h3 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.family {
    display: flex;
    grid-column: 1/3;
    grid-row: 4/5;
    text-align: justify;
}

.hour3-h3 {
    grid-column: 1/3;
    grid-row: 5/6;
}

.hour3 {
    display: flex;
    grid-column: 1/3;
    grid-row: 6/7;
    text-align: justify;
}

.hour5-h3 {
    grid-column: 1/3;
    grid-row: 7/8;
}

.hour5 {
    display: flex;
    grid-column: 1/3;
    grid-row: 8/9;
    text-align: justify;
}

.trips {
    display: grid;
    grid-template-columns: 2fr 358px;
}

.arrow-right {
    border: 1px solid black;
    width: 153px;
    text-align: center;
    background-color: navy;
    color: #fff;
    opacity: 0.8;
    font-weight: bold;
    border-radius: 30px;
    margin: 10px 0 0 80px;
    grid-column: 2/3;
}

.plan {
    font-size: 18px;
    font-weight: bold;
    margin: 120px 0 0 10px;
    color: var(--secondary-color);
    grid-column: 2/3;
    grid-row: 1/2;
    width: 400px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: var(--body-font);
  font-size: 0.9rem;
  letter-spacing: 1px;
  width: 107%;
  margin: 0 0 0 20px;
  grid-column: 1/2;
}

caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: 19px;
  color: var(--secondary-color);
}

thead,
tfoot {
  background-color: var(--primary-color);
  color: #ffffff;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

td {
    color: #000;
}

.arrow-right a {
    text-decoration: none;
    color: #fff;
}

.arrow-right:hover {
    color: #FFA500; /* Orange (Web) */
    font-weight: 1000;
    background-color: var(--secondary-color);
}



